*, *::before, **::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #181C14;
    --complimentColor: #B954C6;
    --shadeLighter: #272b25;
    --shade-Darker: #12140f;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background-color: var(--mainColor);
    color: white;
    overflow-y: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

dialog {
    width: 300px;
    height: 300px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

dialog button, .read-status-checkbox {
    margin-left: 16px;
    margin-bottom: 16px;
}

.book-card {
    width: 245px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 9px -5px rgba(0,0,0,0.50), -6px -6px 9px -5px rgba(255,255,255,0.50);
    border-radius: 10px;
}

.book-title {
    font-size: 32px; 
}

.book-author, .book-pages {
    font-size: 14px;
}

.book-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(325px, 19%);
    margin-top: 50px;
    margin-left: 40px;
    padding: 24px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}


.delete-button {
    width: 70%;
    border-radius: 40px;
    padding: 10px;
    background-color: var(--complimentColor);
    font-weight: 600;
    border: none;
    color: white;
}

.delete-button:hover {
    cursor: pointer;
}

.dashboard-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.dashboard-card {
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: inset -10px -11px 10px -12px #FFFFFF, inset 13px 13px 16px -12px #000000;
}

.dashboard-card p {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin: 0;
    width: 90%;
}

.dashboard-card h2 {
    font-size: clamp(1rem, 1.1vw, 2rem);
    font-weight: 500;
}

.favourite-button {
    display: none;
}

.favourite-icon:hover {
    cursor: pointer;
}

.favourite-icon {
    align-self: flex-end;
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   

::-webkit-scrollbar-thumb {
    background: var(--shadeLighter); 
    border-radius: 10px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: var(--complimentColor); 
}





