*, *::before, **::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #1c1a22;
    --complimentColor: #B954C6;
    --hoverCompliment: #9454C7;
    --shadeLighter: #272b25;
    --shade-Darker: #12140f;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background-color: var(--mainColor);
    color: white;
    overflow-y: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

.add-button path:hover {
    fill: var(--complimentColor);
    cursor: pointer;
}

dialog {
    width: 375px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.5 );
    color: white;
    font-size: 1.3rem;
    overflow-y: hidden;
}

.new-book-form {
    display: flex;
    flex-direction: column;
}

.new-book-form .create-book {
    align-self: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

dialog .read-status-checkbox{
    margin-left: 20px;
}

.book-carousel .read-status-checkbox {
    margin-bottom: 20px;
}

.read-status {
    margin-left: 15px;
}

#read-status-modal:hover {
    cursor: pointer;
}

.form-input input {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
}


.create-book, .close-modal {
    width: 40%;
    padding: 10px;
    background-color: var(--complimentColor);
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 5px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.close-modal {
    background-color: white;
    color: var(--mainColor);
}

.create-book:hover, .close-modal:hover {
    cursor: pointer;
}

.create-book:hover {
    background: var(--hoverCompliment);
}

.close-modal:hover {
    background-color: var(--mainColor);
    color: white;
    border: 1px solid white;
}

.create-book:active, .close-modal:active {
    transform: scale(.8);
}

.book-card {
    width: 245px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 6px 6px 9px -5px rgba(0,0,0,0.50), -6px -6px 9px -5px rgba(255,255,255,0.10);
    border-radius: 10px;

}

.placeholder-book-card {
    width: 245px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: 1px dashed white;
}

.book-title {
    font-size: 32px; 
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
}

.book-author, .book-pages {
    font-size: 18px;
    width: 100%;
    overflow-wrap: break-word;
}

.book-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(325px, 19%);
    margin-top: 50px;
    margin-left: 10px;
    padding: 24px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.delete-button {
    width: 70%;
    border-radius: 40px;
    padding: 10px;
    background-color: var(--mainColor);
    font-weight: 600;
    border: none;
    color: white;
    border: 1px solid var(--complimentColor);
    margin-bottom: 20px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: var(--complimentColor);
    color: white;
}

.delete-button:active {
    transform: scale(.8);
}

.dashboard-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.dashboard-card {
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: inset -10px -11px 10px -12px #ffffff50, inset 13px 13px 16px -12px #000000;
}

.dashboard-card p {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin: 0;
    width: 90%;
}

.dashboard-card h2 {
    font-size: clamp(1rem, 1.1vw, 2rem);
    font-weight: 500;
    width: 80%;
}

.favourite-button {
    display: none;
}

.favourite-icon:hover {
    cursor: pointer;
}

.favourite-icon {
    align-self: flex-end;
    margin-right: 20px;
}

.favourite-book {
    width: 100%;
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgba(27, 20, 20, 0.904); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.5); 
}





